@use '../tokens' as *;

form[kjs-type='extendingForm'] {
  [kjs-role='extension'] {
    margin: $space-sm 0;
    width: 100%;
    padding: 12px;
    background-color: $lt-blue;
    border-radius: 4px;
    display: none;

    &.reveal {
      display: block;
    }
  }

  select {
    font: inherit;
    margin-top: $space-xs;
    padding: 6px;
    border: 1px solid $rule;
    border-radius: 4px;
  }
}
